@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");
body {
  margin: 0;
  font-family: "Noto Sans", sans-serif;
  background-image: url('https://images.pexels.com/photos/4175070/pexels-photo-4175070.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  margin-top: 10px;
  text-align: center;
  font-size: 50px;
  color: darkblue;
  font-weight: 600;
}
