body{
background-image: url('https://images.pexels.com/photos/4175070/pexels-photo-4175070.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
background-repeat: no-repeat;
background-size: cover;
}

h1{
    text-align: center;
    font-size: 60px;
    margin: 20px;
    
}
#info{
    text-align: center;
    font-size: 30px;
    font-weight: 400;
}
#startGomb, #newGame{
    font-size: 20px;
    color:whitesmoke;
    width: 200px;
    height: 50px;
    background-color: rgb(36, 112, 36);
    border: none;
}
#startGomb:hover, #newGame:hover{
    transition: 0.3s;
    color: rgb(148, 255, 148);
    background-color: rgb(5, 15, 5);
}
#szinek{
    visibility: hidden;
}
#szin1{
    background-color: white;
    max-width: 190px;
    max-height: 190px;
    border-radius: 100%;
    margin-right: 20px;
    
}
#szin2{
    background-color: white;
    width: 190px;
    height: 190px;
    border-radius: 100%;
    margin-right: 20px;
}
#szin3{
    background-color: white;
    width: 190px;
    height: 190px;
    border-radius: 100%;
    margin-right: 20px;
}
#szin4{
    background-color: white;
    width: 190px;
    height: 190px;
    border-radius: 100%;
    margin-right: 20px;
}
#szin5{
    background-color: white;
    width: 190px;
    height: 190px;
    border-radius: 100%;
    margin-right: 20px;
}
#szin6{
    background-color: white;
    width: 190px;
    height: 190px;
    border-radius: 100%;
    
    
}
#newGame{
    visibility: hidden;
}
#szin1:hover,#szin2:hover,#szin3:hover,#szin4:hover,#szin5:hover,#szin6:hover{
    
    border: 3px solid  white;
}
#rgbMutato{
    font-size: 30px;
    
}